In [2]:
import pandas as pd
df=pd.read_csv('/home/techverx/Desktop/projects/resume_ranking/dd.csv',)

In [3]:
df=df.iloc[:,1:]
df

           Roles            Skills        Aliases  Parent
0   Data Science             numpy            NaN  Skills
1   Data Science     deep learning            NaN  Skills
2   Data Science               api            NaN  Skills
3   Data Science  machine learning          scipy  Skills
4   Data Science             numpy            NaN  Skills
5   Data Science     deep learning  deep learning  Skills
6   Data Science               api            NaN  Skills
7       Back End               sql            sql  Skills
8       Back End             nosql            NaN  Skills
9       Back End          rest api            NaN  Skills
10      Back End               api            NaN  Skills
11      Back End               sql            NaN  Skills
12      Back End             nosql          nosql  Skills
13      Back End          rest api            NaN  Skills
14      Back End               api            NaN  Skills

In [4]:
df.fillna('NAN',inplace=True)

In [5]:
L=[]
for index, row in df.iterrows():
    L.append([row['Roles'], row['Skills'],row['Aliases'],row['Parent']])

In [6]:
new_k = []
for elem in L:
    print(elem)
    if elem not in new_k:
        new_k.append(elem)
L = new_k

['Data Science', 'numpy', 'NAN', 'Skills']
['Data Science', 'deep learning', 'NAN', 'Skills']
['Data Science', 'api', 'NAN', 'Skills']
['Data Science', 'machine learning', 'scipy', 'Skills']
['Data Science', 'numpy', 'NAN', 'Skills']
['Data Science', 'deep learning', 'deep learning', 'Skills']
['Data Science', 'api', 'NAN', 'Skills']
['Back End', 'sql', 'sql', 'Skills']
['Back End', 'nosql', 'NAN', 'Skills']
['Back End', 'rest api', 'NAN', 'Skills']
['Back End', 'api', 'NAN', 'Skills']
['Back End', 'sql', 'NAN', 'Skills']
['Back End', 'nosql', 'nosql', 'Skills']
['Back End', 'rest api', 'NAN', 'Skills']
['Back End', 'api', 'NAN', 'Skills']

In [7]:
temp=[]
temp2=[]
for elem in L:
    if elem!=[elem[0],elem[1],'NAN',elem[3]]:
        temp.append(elem)
    else:
        temp2.append(elem)

In [8]:
final1=[]
for elem in temp2:
    decision=[]
    for elems in temp:     
        if [elem[0],elem[1],elem[3]]==[elems[0],elems[1],elems[3]]:
            decision.append(1)
        else:
            decision.append(0)
    print(sum(decision))
    if sum(decision)==0:
        final1.append(elem)
temp.extend(final1)

0
1
0
1
0
0
1

In [8]:
sorted(temp)

[['Back End', 'api', 'NAN', 'Skills'],
 ['Back End', 'nosql', 'nosql', 'Skills'],
 ['Back End', 'rest api', 'NAN', 'Skills'],
 ['Back End', 'sql', 'sql', 'Skills'],
 ['Data Science', 'api', 'NAN', 'Skills'],
 ['Data Science', 'deep learning', 'deep learning', 'Skills'],
 ['Data Science', 'machine learning', 'scipy', 'Skills'],
 ['Data Science', 'numpy', 'NAN', 'Skills']]

In [1]:
temp

NameError: name 'temp' is not defined